.main{
   
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button{
    padding: 20px;
    background-color: rgb(144, 95, 31);
    color: aqua;
    border-radius: 10px;
    border: none;
    margin: 8px;
    font-size: 15px;
   
}

button:hover{
    background-color: aqua;
    color: rgb(144, 95, 31);
    cursor: pointer;
}

.result{
    background-color: coral;
    
}

body{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
