body{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkblue;
  }
  .cont{
    position:relative;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between ;
    
  }
  input{
    outline:none ;
    background: none;
    border: none;
    width: 90%;
    padding: 10px 20px;
    font-size: 16px;
   
  }
  .eye{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  